.css-10botns-MuiInputBase-input-MuiFilledInput-input {
  color: white !important;
}

.css-2bxn45,
.css-1viwg0c {
  color: white !important;
}

.css-k008qs {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
