.css-10botns-MuiInputBase-input-MuiFilledInput-input {
  color: white !important;
}

.css-2bxn45 {
  color: white !important;
}

.css-1viwg0c {
  color: white !important;
}

.css-k008qs {
  display: flex !important;
  justify-content: center !important;
  margin-bottom: 15px !important;
}
